table.users {
    width: 100%;
    padding: 1em;
    color: var(--1);
    font-size: .8em;
    position: relative;
    border-radius: .4em;
    border-collapse: collapse;

    @media screen and (max-width: 60em) {
        font-size: 0.6em;
    }

    tr {

        td,
        th {
            white-space: nowrap;
        }
    }

    thead {
        font-variant: small-caps;
        text-transform: uppercase;

        tr {
            th {
                font-weight: 600;
                text-align: left;
                padding: 1em 0.5em;

                &.sort {
                    color: var(--6);
                    font-weight: 900;
                    text-decoration: underline;
                }

                img {
                    font-size: 1em;
                    cursor: pointer;
                    margin-left: .5em;
                }

                button {
                    border: none;
                    outline: none;
                    cursor: pointer;
                    font-weight: 900;
                    padding: .5em 1em;
                    pointer-events: all;
                    font-variant: small-caps;
                    background-color: transparent;
                }

                &:last-child {
                    pointer-events: none;
                }
            }
        }
    }

    tbody {
        padding-inline: 1em;

        tr {
            border-bottom: .05em solid var(--4);

            td {
                padding: 0.5em;
                color: var(--1);

                &:last-child {
                    font-weight: 900;
                    text-align: center;
                }
            }
        }
    }

    tfoot {
        tr {
            td {
                span {
                    select {
                        margin-inline: .5em;
                    }
                }

                button {
                    border: none;
                    margin: .5em;
                    outline: none;
                    cursor: pointer;
                    color: var(--1);
                    font-weight: 900;
                    padding: .4em .6em;
                    text-align: center;
                    border-radius: .2em;
                    background-color: var(--4);

                    &:disabled {
                        opacity: 0.2;
                    }
                }
            }
        }
    }
}