div.menu {
    width: 1em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    button {
        gap: .2em;
        border: none;
        display: flex;
        outline: none;
        cursor: pointer;
        align-items: center;
        padding-inline: .5em;
        flex-direction: column;
        justify-content: center;
        background: transparent;

        &.open + ul.links {
            display: flex;
        }

        i {
            flex: none;
            width: .25em;
            height: .25em;
            border-radius: 50%;
            background-color: var(--6);
        }
    }

    ul.links {
        top: 50%;
        gap: 1em;
        right: 1em;
        display: none;
        overflow: hidden;
        list-style: none;
        padding:  1em;
        position: absolute;
        border-radius: .2em;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--5);
        transform: translateY(-50%);
        box-shadow: .2em .2em .2em .2em rgba(0 0 0 / .05);

        li {
            gap: .5em;
            width: 100%;
            display: flex;
            padding: 0 1em 0 .5em;
            
            a {
                display: flex;
                font-weight: 500;
                white-space: nowrap;
                text-decoration: none;
                text-transform: capitalize;
            }
        }
    }
}