section#dashboard {
    flex: 1 auto;
    display: flex;
    height: calc(100vh - 4em);

    main {
        gap: 2em;
        width: auto;
        display: flex;
        overflow: auto;
        padding: 2em 1em;
        position: relative;
        flex-direction: column;
        background-color: var(--4);
        justify-content: flex-start;
    }
}